body {background-color: darkblue;
  }

h1 {
  color: white;
}

.fixed{
  position:fixed;
  top:0;
  z-index: 1;
  width:100%;
  height:100%;
  border: none;
 }


 #movingDiv { 
  position: relative;  }

  #fixedDiv {
    position: fixed;
  }